@import '~node_modules/modern-normalize/modern-normalize.css';

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}

.load-more {
  display: flex;
  margin: 0 auto;
}
.form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
